<b><h3>FAQS!</h3></b>


<p5>

<br><br>
How do I remove a book from "my books"?<br>
How do I add a book to "My Books"?<br>
Can I edit a shelf for multiple books at once?<br>
Why are my status updates calculated in percents?<br>
How do I create a "Never Finished" or "Abandoned" shelf?<br>
How do I update my progress in a book I'm "currently reading"?<br>
How do I move a book from "currently reading" to "read"?<br>
How do I import or export my books?<br>
How do I sort my books?<br>
How do I format text into HTML?<br><br><br>



How do I remove a book from "my books"?<br>
To remove a book from your shelf, click on the My Books link at the top of Goodreads, make sure you are on the 'table' view (an option underneath the "My Books" search bar), then click the "x" to the right of the book you'd like to remove. You can also click on the book, click 'edit my review', then click 'remove from my books' at the very bottom of the page.
When a book is removed from your shelves, it will also delete your review.<br><br>


How do I add a book to "My Books"?<br>
1. To add a book to your shelves, find the book by searching for its title or author in the search bar in the header. Searching by ISBN or ASIN (for Kindle editions) works best when looking for a specific edition.
2. On the book's page, you will see a green "Want to Read" button underneath its cover image. Click "Want to Read" to quickly add the book to your "to-read" shelf, or hover over the downward arrow (see image) on the right side of the button to add it to one of your other exclusive shelves (like "read" or "currently-reading"). You can also rate the book using the stars beneath the button.<br><br>



Can I edit a shelf for multiple books at once?<br>
To add or remove books from a shelf in batches, use the "batch edit" on the top of your My Books page. The batch edit tool lets you select as many books as you like to move them from one shelf or another, or even to remove them from your profile.<br><br>



Why are my status updates calculated in percents?<br>
Progress updates for ebooks and audiobooks default to percentage, while updates for other books (like paperbacks, etc) default to page number. However, in all cases one can change the status to switch from the default. Here's how:
1) Navigate to your home page.
2) In your "currently reading" section (on the top right of the page), click "update status" next to the book you'd like to update.
3) The "%" should be a clickable link. Just click on it to switch the updates to "pages".<br><br>


How do I create a "Never Finished" or "Abandoned" shelf?<br>
You can create your own exclusive shelf for "never finished", "did not finish" or "abandoned". Here's how:
1) Click on My Books in the header.
2) Next to the "bookshelves" header on the left, click the small "edit" link.
3) On the bottom of the page, type "never finished" or "abandoned" into the "add a shelf" feature.
4) Check "exclusive" next to the new shelf when it appears on the list.
This will allow you to assign a book to this shelf, instead of having to pick between the default "read", "currently reading", and "to read" shelves.<br><br>



How do I update my progress in a book I'm "currently reading"?<br>
There are two ways you can do this:
1) From the homepage: Look for the "currently reading" section on the top right of the page. Underneath the book you want to update, click the small "update status" link. From here, you should be able to input the page number you are on and any comments you want to add.
2) From the book page: Scroll down until you see the "My Review" section (which should be just underneath the book's description). Next to the bolded "progress" header, click the link to "update status". Similarly, you can add page numbers and comments here.
For information on how to remove a status update, go here.<br><br>



How do I move a book from "currently reading" to "read"?<br>
1) Go to the homepage.
2) On the righthand side of the page, there should be a "currently-reading" section. Click "update status" underneath this section.
3) Under the text box is a link that says, "I'm finished." Click that link.
4) This should take you to a review page if you'd like to write a review. Click "save" and the book should be marked as "read".
Alternatively, you could go to the review page for the book (you can get there from "edit review" on the book page), and select "read" from the shelf dropdown menu. However, this method does not automatically record the date you finished the book.<br><br>



How do I import or export my books?<br>
To import your books from a csv, txt, or xls file, click on my books then on import/export beneath your shelf list on the left. On the top right of the following page, click "export to a csv file". The batch upload may take several minutes to process, depending on how large your file is.<br><br>


How do I sort my books?<br>
You can sort your or your friends reading lists by any criteria you like, using the links at the top of the column while viewing a shelf. For example, to sort by title, click on 'title', which appears at the top of the page. Clicking again will reverse the sort. Other columns that can be sorted on are: author name, rating, my rating, shelves, publication date, date added, date read, average rating, review, number of comments, private notes, owned, and number of reviews<br><br>

.
How do I format text into HTML?<br>
Goodreads supports a set list of html tags that you can use to format your comments, reviews, and stories & writing. They are posted on the right side of most pages, and are also below: 
</p5>
<style>
h3{
  text-align: center;
}
</style>



