<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1 style="color:red">Welcome to example.com, <%= @name %></h1>
    <p>
      Email: <%= @email%><br>
    </p>
    <p>
      <%= @message %>
    </p>
  </body>
</html>
